.movieDetailContainer {
  background-color: rgb(188, 195, 193);
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  margin: auto;
  padding: 20px;
  width: 35%;
}

.movieDetailContainer h3 {
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.bottomdescriptionDiv{
    display: flex;
}

.movieDetailImg {
  width: 150px;
  height: 200px;
}
